body {
  font-family: sans-serif;

}
ul{
  padding: 0;
}
li{
  list-style: none;
}
*{
  outline: none;
}
table{
  width: 100%;
  max-width: 600px;
  border-collapse: collapse;

}
th,td{
  padding: 6px 10px;
  border-bottom:1px solid #eeeeee;


}
th{
  text-transform: capitalize;
  background: #eeeeee;
}

.sort{
  margin-left: 10px;
  display: inline-block;
  vertical-align: middle;
  height: 16px;
  width: 16px;
  background: no-repeat center;
  background-size: contain;
}
.sort:hover{
  cursor: pointer;
}
.default{
  background-image: url(images/sort-arrows.svg);
  background-size: 80%;
}
.asc{
  background-image: url(images/alphabet.svg);
}
.desc{
  background-image: url(images/reverse.svg);
}